@keyframes dish {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        display: block;
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes ingredients {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}