.reservation_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    label {
        display: block;
        font-family: 'OpenSans';
        font-size: 15px;
        font-weight: 700;
        color: #c9a131;
        padding-top: 25px;
        input {
            display: block;
            width: 180px;
            height: 36px;
            background-color: rgba(255,255,255,0.4);
            border: 1.0px solid #c89f2d;
        }
        ::placeholder, ::-webkit-datetime-edit-fields-wrapper {
            padding-left: 10px;
            font-family: 'OpenSans';
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            font-style: italic;
            color: #7c7c7c;
        }
    }
    
}